{
  "env": {
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "brace-style": [2, "stroustrup", {}],
    "max-len": [1, 120, { "ignoreComments": true }],
    "react/require-extension": [0, {}],
    "comma-dangle": 0,
    "indent": [2, 2],
    "prefer-arrow-callback":1,
    "object-shorthand":1,
    "no-param-assignment": 1,
    "no-param-reassign": 1,
    "consistent-return": 1,
    "guard-for-in":1,
    "no-restricted-syntax":1,
    "strict": 1

  },
  "globals": {
    "module": true,
    "require": true,
    "const": false,
    "it": false,
    "describe": false,
    "before": true,
    "after": true
  }
}